{  # note: performance






















  "semi": true,



  "singleQuote": true,







  "tabWidth": 2,  # FIXME: validation





















  "trailingComma": "all"
}  # FIXME: cleanup  # HACK: validation  # check: validation
